.styles_widget-grid__pEQPA {
  position: relative;
  display: grid
}

.styles_widget-grid__pEQPA.styles_widget-grid--stylized__t6FVj {
  height: 420px;
  width: 320px;
  grid-template-columns: repeat(3,minmax(0,1fr));
  grid-template-rows: repeat(4,minmax(0,1fr));
  gap: 1.25rem
}

.styles_widget-grid__pEQPA.styles_widget-grid--stylized__t6FVj>:first-child {
  grid-column: span 1/span 1;
  grid-row: span 2/span 2
}

.styles_widget-grid__pEQPA.styles_widget-grid--stylized__t6FVj>:nth-child(4) {
  grid-column: span 2/span 2;
  grid-row: span 1/span 1
}

.styles_widget-grid__pEQPA.styles_widget-grid--stylized__t6FVj>:nth-child(5) {
  grid-column: span 2/span 2;
  grid-row: span 2/span 2
}

.styles_widget-grid__pEQPA.styles_widget-grid--realistic__yaS74 {
  aspect-ratio: 1/1;
  max-height: 640px;
  max-width: 640px;
  grid-template-columns: repeat(4,minmax(0,1fr));
  grid-template-rows: repeat(4,minmax(0,1fr));
  gap: 2rem
}

.styles_widget-grid__pEQPA.styles_widget-grid--realistic__yaS74>:first-child {
  grid-column: span 2/span 2;
  grid-row: span 2/span 2;
  border-radius: 6.57%
}

.styles_widget-grid__pEQPA.styles_widget-grid--realistic__yaS74>:nth-child(2),.styles_widget-grid__pEQPA.styles_widget-grid--realistic__yaS74>:nth-child(3) {
  grid-column: span 1/span 1;
  grid-row: span 1/span 1;
  border-radius: 14.7%
}

.styles_widget-grid__pEQPA.styles_widget-grid--realistic__yaS74>:nth-child(4) {
  grid-column: span 2/span 2;
  grid-row: span 2/span 2;
  border-radius: 6.57%
}

.styles_widget-grid__pEQPA.styles_widget-grid--realistic__yaS74>:nth-child(5) {
  grid-column: span 1/span 1;
  grid-row: span 1/span 1;
  border-radius: 14.7%
}

.styles_widget-grid__pEQPA.styles_widget-grid--realistic__yaS74>:nth-child(6) {
  grid-column: span 1/span 1;
  grid-row: span 2/span 2;
  border-radius: 14.7%/6.57%
}

.styles_widget-grid__pEQPA.styles_widget-grid--realistic__yaS74>:nth-child(7) {
  grid-column: span 1/span 1;
  grid-row: span 1/span 1;
  border-radius: 14.7%
}

.styles_widget-grid__pEQPA.styles_widget-grid--realistic__yaS74>:nth-child(8) {
  grid-column: span 2/span 2;
  grid-row: span 1/span 1;
  border-radius: 6.57%/14.7%
}

.styles_widget__shadow__uLZbm {
  box-shadow: 0 10.5676px 17.6127px rgba(0,0,0,.08)
}

.styles_handle__shadow__g7pOg {
  box-shadow: 0 10.5676px 17.6127px rgba(0,0,0,.03)
}

.styles_realistic-widget___IKlG {
  display: flex;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255/var(--tw-bg-opacity));
  box-shadow: 0 22px 42px rgba(0,0,0,.02),0 14.2593px 24.5972px rgba(0,0,0,.015),0 8.47407px 13.3778px rgba(0,0,0,.012),0 4.4px 6.825px rgba(0,0,0,.01),0 1.79259px 3.42222px rgba(0,0,0,.008),0 .407407px 1.65278px rgba(0,0,0,.005)
}

.styles_avatar__Qe60n,.styles_realistic-widget___IKlG {
  position: relative;
  overflow: hidden
}

.styles_avatar--circle__7p3KY {
  aspect-ratio: 1/1;
  border-radius: 9999px
}

.styles_avatar--portrait__85kOg {
  aspect-ratio: .75;
  border-radius: 16%/12%
}

.styles_avatar__Qe60n img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover
}

.styles_container__9hC7b {
  height: var(--uib-size);
  width: var(--uib-size);
  vertical-align: middle;
  transform-origin: center;
  animation: styles_rotate__0Xj31 var(--uib-speed) linear infinite;
  will-change: transform
}

.styles_container__9hC7b circle {
  fill: none;
  stroke: var(--uib-color);
  stroke-dasharray: 1,200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: styles_stretch__ZMYMJ calc(var(--uib-speed) * .75) ease-in-out infinite;
  will-change: stroke-dasharray,stroke-dashoffset
}

@keyframes styles_rotate__0Xj31 {
  to {
      transform: rotate(1turn)
  }
}

@keyframes styles_stretch__ZMYMJ {
  0% {
      stroke-dasharray: 1,200;
      stroke-dashoffset: 0
  }

  50% {
      stroke-dasharray: 90,200;
      stroke-dashoffset: -35px
  }

  to {
      stroke-dashoffset: -124px
  }
}

.styles_button--rounding-full__MBCaE {
  border-radius: 9999px
}

.styles_button--loading__EwuBQ .styles_button__content__z6RqE {
  opacity: 0
}

.styles_button__content__z6RqE {
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center
}

.styles_button__icon--left__hV7le {
  margin-right: .5rem
}

.styles_button__icon--right__7tYgS {
  margin-left: .5rem
}



.styles_input-group__content__Nvkj8 {
  display: flex;
  width: 100%;
  border-radius: inherit
}



.styles_input-group--error__nUIzt:after {
  content: "";
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: inherit;
  border-width: 2px;
  --tw-border-opacity: 1;
  border-color: rgb(255 34 34/var(--tw-border-opacity))
}

.styles_input-group__addon-left__kCjeY,.styles_input-group__addon-right__4kZ6E {
  display: flex;
  align-items: center;
  justify-content: center
}

.styles_input-group__addon-left__kCjeY {
  padding-left: .75rem;
  padding-right: 0
}

.styles_input-group__addon-right__4kZ6E {
  padding-right: .5rem;
  padding-left: 0
}

.styles_input-group--plain__TcEQt .styles_input-group__addon-left__kCjeY {
  padding-left: 0;
  padding-right: .125rem
}

.styles_input-group--plain__TcEQt .styles_input-group__addon-right__4kZ6E {
  padding-left: .125rem;
  padding-right: 0
}

.styles_input-group__addon-left__kCjeY {
  border-top-left-radius: .5rem;
  border-bottom-left-radius: .5rem
}

.styles_input-group__addon-right__4kZ6E {
  border-top-right-radius: .5rem;
  border-bottom-right-radius: .5rem
}

.styles_invite-input__m9Q_X input {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 4px;
  transition-property: all;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .2s
}

.styles_invite-input--success__rP38P input {
  font-weight: 900;
  --tw-text-opacity: 1;
  color: rgb(78 221 118/var(--tw-text-opacity))
}

.styles_invite-input__m9Q_X.styles_invite-input--producthunt__zXG6H input,.styles_invite-input__m9Q_X.styles_invite-input--skip__2nONO input {
  padding-top: 1rem;
  padding-bottom: 1rem
}

.styles_invite-magic-button__1eoGo {
  position: relative;
  margin-left: .625rem;
  margin-right: -.375rem;
  white-space: nowrap;
  border-radius: .375rem;
  --tw-bg-opacity: 1;
  background-color: rgb(237 107 92/var(--tw-bg-opacity));
  padding: .625rem .75rem;
  font-size: .875rem;
  line-height: 1.25rem;
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgb(255 255 255/var(--tw-text-opacity))
}

.styles_invite-magic-button__1eoGo:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(231 96 81/var(--tw-bg-opacity))
}

.styles_invite-magic-button__1eoGo:active {
  --tw-scale-x: 0.98;
  --tw-scale-y: 0.98;
  transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  --tw-bg-opacity: 1;
  background-color: rgb(222 86 71/var(--tw-bg-opacity))
}

.styles_invite-magic-button__1eoGo {
  transition: transform .1s cubic-bezier(.427,.073,.105,.997),color .1s cubic-bezier(.427,.073,.105,.997);
  box-shadow: 0 2px 4px rgba(0,0,0,.1)
}

.styles_invite-magic-button__1eoGo.styles_invite-magic-button--blue__DDa20 {
  --tw-bg-opacity: 1;
  background-color: rgb(118 140 255/var(--tw-bg-opacity))
}

.styles_invite-magic-button__1eoGo.styles_invite-magic-button--blue__DDa20:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(109 132 250/var(--tw-bg-opacity))
}

.styles_invite-magic-button__1eoGo.styles_invite-magic-button--blue__DDa20:active {
  --tw-bg-opacity: 1;
  background-color: rgb(84 109 239/var(--tw-bg-opacity))
}

.styles_invite-magic-button__1eoGo [data-sparkle] {
  position: absolute;
  left: -5rem;
  top: -5rem;
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255/var(--tw-bg-opacity));
  --tw-blur: blur(7px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
  width: .5rem;
  height: .5rem;
  transition: opacity .4s ease-in-out
}

.styles_invite-magic-button__1eoGo [data-sparkle]:first-of-type {
  animation: styles_moveA__7eez8 4s linear infinite
}

.styles_invite-magic-button__1eoGo [data-sparkle]:nth-of-type(2) {
  animation: styles_moveB__g6q9g 5s linear 2s infinite
}

.styles_invite-magic-button__1eoGo [data-sparkle]:nth-of-type(3) {
  background-color: hsla(0,0%,100%,.4);
  --tw-blur: blur(32px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
  width: 5rem;
  height: 5rem;
  animation: styles_moveC__ImhuS 2s linear 2s infinite
}

.styles_invite-magic-button__1eoGo [data-sparkle]:nth-of-type(4) {
  animation: styles_moveD__R39jk 2s linear 1s infinite
}

.styles_invite-magic-button__1eoGo [data-sparkle]:nth-of-type(5) {
  animation: styles_moveE__kwSz6 5s linear .5s infinite
}

.styles_invite-magic-button__1eoGo [data-sparkle]:nth-of-type(6) {
  animation: styles_moveF__Qmu0u 3s linear 0s infinite
}

.styles_invite-magic-button__1eoGo [data-sparkle]:nth-of-type(7) {
  animation: styles_moveG__Qk3aY 3s linear 0s infinite
}

.styles_normal-step__zc_Sh h1 {
  font-weight: 600
}

.styles_bold-step__0h8ZD h1 {
  font-weight: 700
}

@keyframes styles_moveA__7eez8 {
  0% {
      left: 0;
      top: 0;
      transform: translate(-30px,10px)
  }

  to {
      left: 0;
      top: 0;
      transform: translate(160px,50px)
  }
}

@keyframes styles_moveB__g6q9g {
  0% {
      left: 0;
      top: 0;
      transform: translate(70px,-30px)
  }

  to {
      left: 0;
      top: 0;
      transform: translate(120px,70px)
  }
}

@keyframes styles_moveC__ImhuS {
  0% {
      left: 0;
      top: 0;
      transform: translate(50px,-120px)
  }

  to {
      left: 0;
      top: 0;
      transform: translate(-20px,110px)
  }
}

@keyframes styles_moveD__R39jk {
  0% {
      left: 0;
      top: 0;
      transform: translate(150px,-20px)
  }

  to {
      left: 0;
      top: 0;
      transform: translate(190px,50px)
  }
}

@keyframes styles_moveE__kwSz6 {
  0% {
      left: 0;
      top: 0;
      transform: translate(100px,-20px)
  }

  to {
      left: 0;
      top: 0;
      transform: translate(290px,50px)
  }
}

@keyframes styles_moveF__Qmu0u {
  0% {
      left: 0;
      top: 0;
      transform: translate(140px,-20px)
  }

  to {
      left: 0;
      top: 0;
      transform: translate(130px,50px)
  }
}

@keyframes styles_moveG__Qk3aY {
  0% {
      left: 0;
      top: 0;
      transform: translate(220px,-20px)
  }

  to {
      left: 0;
      top: 0;
      transform: translate(170px,50px)
  }
}

.styles_animation-ctn__aIOat {
  text-align: center
}

@keyframes styles_checkmark-circle__JrrJM {
  0% {
      stroke-dashoffset: 480px
  }

  to {
      stroke-dashoffset: 960px
  }
}

@keyframes styles_colored-circle__R95Eq {
  0% {
      opacity: 0
  }

  to {
      opacity: 1
  }
}

.styles_inlinesvg__R7tgu .styles_svg__igDbe svg {
  display: inline
}

.styles_icon--order-success__qDq52 svg circle {
  animation: styles_checkmark-circle__JrrJM .75s ease-in-out backwards
}

.styles_icon--order-success__qDq52 svg circle#styles_colored__Q6fnb {
  animation: styles_colored-circle__R95Eq .75s ease-in-out .55s backwards
}
