/* ./assets/css/tailwind.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Inter variablefont slnt wght';
    font-weight: 400;
    src: url(../font-family/Inter-VariableFont_slnt.wght.ttf) format("woff");
  }


  :root {
    .theme-light {
      --color-container-bgColor: #0a0a0a;
      /* --color-container-bgColor:#0a0a0a; */
    }

    .theme-dark {
      --color-container-bgColor: #0a0a0a;
    }

    /* .theme-dark {
      --color-base: theme('colors.gray.900');
      --color-text-base: theme('colors.gray.100');
      --color-off-base: theme('colors.gray.800');
      --color-text-muted: theme('colors.gray.300');
      --color-text-muted-hover: theme('colors.gray.200');
      --color-primary: theme('colors.blue.500');
      --color-secondary: theme('colors.blue.200');
    } */
  }


}