/* ./assets/css/tailwind.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer html {
  @font-face {
    font-family: 'Inter variablefont slnt wght';
    font-weight: 400;
    src: url(../font-family/Inter-VariableFont_slnt.wght.ttf) format("woff");
  }


  :root {


    /* .theme-dark {
      --br-color-base: theme('colors.gray.900');
      --br-color-text-base: theme('colors.gray.100');
      --br-color-off-base: theme('colors.gray.800');
      --br-color-text-muted: theme('colors.gray.300');
      --br-color-text-muted-hover: theme('colors.gray.200');
      --br-color-primary: theme('colors.blue.500');
      --br-color-secondary: theme('colors.blue.200');
    } */
  }

  .theme-dark {
    /* 容器bgColor */
    --br-bg-container1: theme('colors.neutral.950');
    /* action bar */
    --br-bg-container2: theme('colors.neutral.800');
    /* online action bg color*/
    --br-bg-container3: theme('colors.neutral.800');
    /* item hover bg color */
    --br-bg-container4: theme('colors.neutral.600');
    /* 按钮主要背景颜色1 send*/
    --br-btn-primary1: theme('colors.neutral.700');
    /* 组件主要背景颜色2 add theme env*/
    --br-btn-primary2: theme('colors.neutral.700');
    /* 按钮主要背景颜色3 submit*/
    --br-btn-primary3: theme('colors.neutral.700');
    /* 按钮hover背景颜色4 cancel*/
    --br-btn-primary4: theme('colors.neutral.600');
    /* 组件主要背景颜色1 input*/
    --br-input-primary1: theme('colors.neutral.500');
    /* 组件hover背景颜色2 input*/
    --br-input-primary3: theme('colors.neutral.600');
    /* 文本颜色1 bg */
    --br-text-color1: theme('colors.neutral.100');
    /* 文本颜色2 btn*/
    --br-text-color2: theme('colors.neutral.100');
    /* 文本颜色3 input*/
    --br-text-color3: theme('colors.neutral.100');
    /* 文本颜色4 placeholder*/
    --br-text-color4: theme('colors.neutral.50');
  }

}